<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.yourcompany.${memento:CC89PZTN6Pindentifer}"
version = "1.0.0">

<name>memento</name>

<description>
memento is a photography application that takes photos, but does not save them to your phone. Instead it emails them back to you at a random time in the future, anywhere from 6 months to 5 years from the date the photo was taken.</description>

<author href="http://www.callihiggins.com"
email="callihiggins@gmail.com">
Calli Higgins</author>

<icon src="icon.png" gap:role="default" />

<feature name="http://api.phonegap.com/1.0/notification"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/camera"/>

<icon src="icon/icon.png" width="57" height="57"/>
<icon src="icon/icon-72.png" width="72" height="72"/>
<icon src="icon/icon@2x.png" width="114" height="114"/>

<!-- iOS requires specific dimensions for different devices; classic iPhone
  screens, Retina displays, and iPad screens -->

<gap:splash src="splash/Default.png"/>
<gap:splash src="splashes/Default@2x.png" width="640" height="960"/>
<gap:splash src="splashes/Default~ipad.png" width="1024" height="748"/>


<preference name="phonegap-version" value="1.1.0" />
<preference name="orientation" value="portrait" />
</widget>